In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5,np.nan,6,7,8,9,0])

In [3]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     6.0
7     7.0
8     8.0
9     9.0
10    0.0
dtype: float64

In [4]:
dates = pd.date_range('20200101', periods=7)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -1.071649 -1.460465  1.442951 -0.908794
1  0.478546  2.001249 -0.630113 -0.365743
2 -0.606767 -0.730223  0.009449 -1.347863
3  0.738114  0.365735 -2.331054 -0.503305
4 -1.988917 -1.339861  1.702511  0.058829
5  0.615522  2.318359 -0.137190  0.074721
6 -0.329903  0.679963 -0.333362 -0.950603
7  0.002502 -1.757434  0.437790 -0.201015
8  0.229388  0.628258  0.885443 -0.088303
9  2.066757  1.332750  0.397335 -0.284321

In [16]:
df = pd.DataFrame(np.random.randn(10,5), columns=list('ABCDE'), index=['A','B','C','D','E','F','G','H','I','J'])
df

          A         B         C         D         E
A -0.879969 -0.155337 -2.040988 -0.495555 -0.472494
B -0.375801 -0.109013 -0.852276  1.684567 -0.300999
C -0.873160  1.761457 -0.164045  1.133991  1.338425
D -0.826401 -0.704454  0.165286  1.022542 -0.350145
E  0.607370  0.551486  3.334115  1.521856  0.599904
F -0.326461 -0.517932  1.035979  2.168388  1.347160
G  0.582410  0.192469  0.865748  1.583195 -0.271896
H -0.017683  1.769160  0.569159 -1.535410  0.756157
I  0.651057  3.089565  0.404054  1.089439 -1.061109
J  0.668860 -0.008857  0.095137  1.081682 -0.706950

In [7]:
df2 = pd.DataFrame(np.random.randn(10,4), columns=list('ABCD'))
df2['dates'] = pd.date_range('20200101', periods=len(df2))
df2

          A         B         C         D      dates
0 -1.889524  0.888387  0.220795 -1.414511 2020-01-01
1  0.132030  0.514618 -1.772293 -0.411695 2020-01-02
2 -0.812735 -0.366091 -2.168431  0.953240 2020-01-03
3 -1.467673  2.260154 -1.313507  1.359036 2020-01-04
4 -0.477630  1.384164 -1.194323  0.681560 2020-01-05
5 -1.090466 -0.795041 -0.109851  1.849340 2020-01-06
6  0.563304  0.397441  0.164053 -1.545268 2020-01-07
7  1.485745  0.561600  0.816354  0.670562 2020-01-08
8 -1.023822 -0.881822  0.812497 -0.918887 2020-01-09
9 -0.216808 -0.417110 -0.496284 -0.349567 2020-01-10

In [8]:
df2=df2.set_index(df2['dates'])

In [9]:
df2

                   A         B         C         D      dates
dates
2020-01-01 -1.889524  0.888387  0.220795 -1.414511 2020-01-01
2020-01-02  0.132030  0.514618 -1.772293 -0.411695 2020-01-02
2020-01-03 -0.812735 -0.366091 -2.168431  0.953240 2020-01-03
2020-01-04 -1.467673  2.260154 -1.313507  1.359036 2020-01-04
2020-01-05 -0.477630  1.384164 -1.194323  0.681560 2020-01-05
2020-01-06 -1.090466 -0.795041 -0.109851  1.849340 2020-01-06
2020-01-07  0.563304  0.397441  0.164053 -1.545268 2020-01-07
2020-01-08  1.485745  0.561600  0.816354  0.670562 2020-01-08
2020-01-09 -1.023822 -0.881822  0.812497 -0.918887 2020-01-09
2020-01-10 -0.216808 -0.417110 -0.496284 -0.349567 2020-01-10