In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5,np.nan,6,7,8,9,0])

In [3]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     6.0
7     7.0
8     8.0
9     9.0
10    0.0
dtype: float64

In [4]:
dates = pd.date_range('20200101', periods=7)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.245449  0.199130 -0.437494 -1.311120
1 -0.702353  0.320069 -1.274718  2.276986
2 -0.185759 -0.702932 -0.305743 -1.639736
3  0.801696 -1.597546 -0.856705 -0.385895
4  0.539692 -1.032519 -0.881274  0.589630
5  0.945534  1.124595 -1.573296 -0.408460
6 -1.994769  0.504503 -0.202859  0.656685
7  2.519951 -0.742264 -1.255036 -1.158207
8 -0.211438 -0.752842  0.353919  0.685773
9  0.290430 -0.277453  0.504315 -2.479879

In [6]:
df = pd.DataFrame(np.random.randn(10,5), columns=list('ABCDE'))
df

          A         B         C         D         E
0  1.361399 -1.237534  1.050980 -0.248451 -1.728369
1  0.055581 -0.483531 -0.001942 -0.199137  0.921379
2 -1.003165 -0.792137 -1.561813  0.766672 -0.653919
3 -2.186992 -1.152070 -1.126178 -1.948679 -0.254849
4  1.335447  0.178792  1.654431  0.907163 -0.943132
5  0.681838 -0.370362 -0.922159  0.050759  0.662978
6  0.137124 -0.770428 -0.965137  1.930516 -0.589854
7 -2.236633  0.526203  0.504083  0.635767 -0.129686
8  0.224204 -0.097786  0.706547  2.069969 -1.644709
9  0.597111 -1.154546  0.255088 -1.386084 -1.394905

In [7]:
df2 = pd.DataFrame(np.random.randn(10,4), columns=list('ABCD'))
df2['dates'] = pd.date_range('20200101', periods=len(df2))
df2

          A         B         C         D      dates
0  0.464965  0.337594  1.582362  0.084092 2020-01-01
1  1.112399  0.086089  0.787569  0.231436 2020-01-02
2 -0.467084 -0.142060  0.211927  0.604948 2020-01-03
3 -0.711739 -0.153913 -0.055678  0.204809 2020-01-04
4  0.693978  0.088418  0.574027 -0.251242 2020-01-05
5 -0.490375  0.204135 -1.372899  1.887956 2020-01-06
6  0.200919 -0.044949 -0.814256 -0.191985 2020-01-07
7 -0.516627  0.190883  0.849889  0.045369 2020-01-08
8 -1.309756  0.873707  0.465710  0.036943 2020-01-09
9 -1.019326 -1.658024  0.384380 -0.088177 2020-01-10

In [8]:
df2=df2.set_index(df2['dates'])

In [9]:
df2

                   A         B         C         D      dates
dates
2020-01-01  0.464965  0.337594  1.582362  0.084092 2020-01-01
2020-01-02  1.112399  0.086089  0.787569  0.231436 2020-01-02
2020-01-03 -0.467084 -0.142060  0.211927  0.604948 2020-01-03
2020-01-04 -0.711739 -0.153913 -0.055678  0.204809 2020-01-04
2020-01-05  0.693978  0.088418  0.574027 -0.251242 2020-01-05
2020-01-06 -0.490375  0.204135 -1.372899  1.887956 2020-01-06
2020-01-07  0.200919 -0.044949 -0.814256 -0.191985 2020-01-07
2020-01-08 -0.516627  0.190883  0.849889  0.045369 2020-01-08
2020-01-09 -1.309756  0.873707  0.465710  0.036943 2020-01-09
2020-01-10 -1.019326 -1.658024  0.384380 -0.088177 2020-01-10